.main-page {
  width: 70%;
  display: flex;
  justify-content: center;
}

.story-feed {
  width: 400px;
}

.newstorys-container {
  margin-top: 125px;
}

.newstoys {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 20px;
  margin-top: 100px;
  gap: 15px;
  overflow-x: auto;
}

.storys-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  gap: 5px;
  cursor: pointer;
}

.storys-friends img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  padding: 2px;
  border: 2px solid red;
  border-color: rgba(255, 68, 0, 0.9) violet rgba(255, 68, 0, 0.9)
    rgb(255, 157, 0);
  cursor: pointer;
}

.post {
  position: relative;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.post-img {
  height: 338px;
  object-fit: cover;
}

.post-header {
  display: flex;
  justify-content: space-between;
}
.post-header-left {
  display: flex;
  align-items: center;
  padding: 12px 10px;
}

.author-location-container {
  padding-left: 8px;
}

.author-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  cursor: pointer;
}

.locations {
  font-size: 12px;
  padding-top: 3px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  margin-top: 8px;
}

.action-buttons-left {
  display: flex;
  align-items: center;
  padding-left: 8px;
  margin-top: 5px;
}

.action-buttons-left img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.action-button-right {
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.action-button-right-black {
  width: 30px;
  height: 24px;
  cursor: pointer;
}

.action-button-right-black img {
  width: 32px;
  height: 30px;
}

.action-button-right img {
  width: 32px;
  height: 30px;
}
.points-text {
  font-size: 20px;
  padding-right: 12px;
}

.comment-input {
  outline: unset;
  border: none;
}

.post-button {
  color: lightblue;
  font-size: 14px;
  opacity: 0.5;
  font-weight: bold;
  position: absolut;
  right: 5px;
  bottom: 5px;
  margin-left: 120px;
  padding: 0;
  border: none;
  background: none;
}

.post-comment-container {
  border-top: 1px solid rgb(235, 233, 233);
  display: flex;
  align-items: center;
  padding: 12px 10px;
  position: relative;
}

.comment-smiley {
  margin-right: 8px;
  height: 20px;
}

.likes-author {
  padding: 4px 10px;
  margin: 0;
  font-size: 14px;
}

.time-ago {
  font-size: 10px;
  margin-left: 10px;
}

.end-of-content {
  position: relative;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
}

.end-of-content img {
  width: 100px;
  margin-top: 20px;
}

.eoc-p1 {
  margin-bottom: 8px;
}
.eoc-p2 {
  font-size: 12px;
  margin: 0;
  margin-bottom: 12px;
}

.main-page-right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  height: 500px;
  margin-top: 125px;
  margin-left: 30px;
}

.mp-right-side-header {
  width: 150%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.img-and-name {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.img-and-name img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 100%;
  object-fit: cover;
}

.text-blue {
  color: rgba(18, 82, 244, 0.912);
  font-size: 12px;
  cursor: pointer;
  margin-left: 117px;
  margin-right: 115px;
}

.text-blue-c {
  color: rgba(18, 82, 244, 0.912);
  font-size: 12px;
  cursor: pointer;
  margin-left: 100px;
  margin-right: 115px;
}

.vorschaege {
  display: flex;
  justify-content: space-between;
}

.vfd {
  margin-right: 40px;
  color: gray;
  font-size: 13px;
  width: 279px;
}

.aa {
  font-size: 13px;
  cursor: pointer;
  margin-left: 18px;
}

.rightesidesubcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.rightesidesubcontainer img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
}

.righteside {
  display: flex;
  padding: 8px 0px;
  align-items: center;
}

.styleRightSide {
  display: flex;
  flex-direction: column;
}

.acc-name {
  display: flex;
  width: 100px;
  gap: 10px;
  align-items: center;
}
