body {
  font-family: "Roboto", sans-serif;
  height: 200vh;
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.1);
  margin: 0;
}

.d-none {
  display: none !important;
}
